@charset "UTF-8";

	form
	{
		width: 800px;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		border-color: #2F4F4F;
	}
	legend
	{
		color: #2F4F4F;
		font-size: 16pt;
	}
	fieldset
	{
		border: 2px #2F4F4F solid;
	}
	input, textarea
	{
		font-size: 12pt;
		background-color: rgba(255,255,255,0.8);
		width:250px;
	}
	label
	{
		color: #2F4F4F;
	}
	fieldset p.auto
	{
		text-align: justify;
		text-indent: 70px;
		font-weight: bolder;
	}